<nav>
  <div id="mob-nav"><i class="fa fa-bars"></i></div>
  <div class="links">
    <ul>
      <a href="#about-me"><li><i class="fa fa-user"></i>About Me</li></a>
      <a href=""><li><i class="fa fa-cogs"></i>My Work</li></a>
      <a href=""><li><i class="fa fa-comment"></i>Contact Me</li></a>
    </ul>
  </div>
</nav>