<nav>
  <div id="mob-nav"><i class="fa fa-bars"></i></div>
  <div class="links">
    <ul>
      <a href="#home"><li class="home">ChristianClifford.com</li></a>
      <a href="#about-me"><li id="about-me-nav"><i class="fa fa-user"></i>About Me</li></a>
      <a href=""><li id="my-work-nav"><i class="fa fa-cogs"></i>My Work</li></a>
      <a href=""><li id="contact-me-nav"><i class="fa fa-comment"></i>Contact Me</li></a>
    </ul>
  </div>
</nav>