<div class="intro" id="home">
  <div class="personal-info">
    <div class="name"><h1>Christian Clifford</h1></div>
    <div class="title-wrapper">
      <div class="title">
        <h2>Web Developer | Full Stack</h2>
      </div>
    </div>
  </div>
</div>
<article id="about-me" class="about-me">
  <div class="header">
    <h1>About Me</h1>
  </div>
  <h2>Where I'm From</h2>
  <p>
    I was born in northern New Jersey in 1989. My name is Christian Clifford. Those are the basics. Cool? Cool...
  </p>
  <p>
    I grew up loving technology. I was playing with my DOS box when I was 7, screwing with the internet since I was 10, and then falling in love with everything tech based since. My earliest memories are trying to learn Adobe Photoshop 5 and making my online presence known through GeoCities. So I've grown up with computers and technology, and now it's time for it to be a profession.
  </p>
  <hr>
  <h2>What I've Done</h2>
  <p>
    I went to college at the University of Delaware where I planned on studying Finance and do that for the rest of my life. It took me a year (and a lot of troubleshooting my friends computer issues) to realize that I had a feel for technology above the average person. I quickly picked up a second major in Management Information Systems, mainly because I thought that it could benefit my Finance degree. 
  </p>
  <p>
    I graduated with a dual-major in 2011.
  </p>
  <p>
    Then I went to work. I started as a data analyst for a pension fund, but quickly changed roles to a product manager for a financial software company. It was this role where I realized that the finance had fallen on the wayside, and now I really wanted to learn to make things for the technology I had an aptitude for.
  </p>
  <hr>
  <h2>What I Do</h2>
  <p>
    I've finished a Web Development Immersive course with General Assembly in December, 2014. I'm following that up by being a teacher's assistant for the next session while focusing on freelance full-stack development.
  </p>
  <p>
    My goal is to design experiences that continue the effective growth of the net as a communicative medium. I want to create responsive, engrossing projects that solve problems and inspire creation the same way I was inspired to create with my first machine.
  </p>
</article>

<article id="my-work" class="my-work">
  <div class="header">
    <h1>My Work</h1>
  </div>
  <h2>Skills</h2>
  <div class="skill">
    <div class="badge html5-logo"><img src="images/3techs.png"></div>
    <div class="level html5">HTML5</div>
  </div>
  <div class="skill">
    <div class="badge css3-logo"><img src="images/3techs.png"></div>
    <div class="level css3">CSS3</div>
    </div>
  <div class="skill">
    <div class="badge js-logo"><img src="images/3techs.png"></div>
    <div class="level js">JavaScript</div>
  </div>
  <div class="skill">
    <div class="badge ruby-logo"><img src="images/Ruby_logo.png"></div>
    <div class="level ruby">Ruby</div>
  </div>
  <div class="skill">
    <div class="badge rwd-logo"><img src="images/responsive-website-design.png"></div>
    <div class="level rwd">Responsive Web Design</div>
  </div>
  <hr>
  <h2>Profiles</h2>
  <div class="profile-wrapper">
    <div class="profiles">
      <ul>
        <a href="https://github.com/CCliff">
          <li class="profile">
            <img src="images/GitHub_thumb.png">
            <p>GitHub</p>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/ccliff">
          <li class="profile">
            <img src="images/linkedin_thumb.png">
            <p>LinkedIn</p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</article>

<article id="contact-me" class="contact-me">
  <div class="header">
    <h1>Contact Me</h1>
  </div>
  <h2>Here's how to get me:</h2>
  <div class="contact phone">    
    <a href="tel:12019533024">
      <div class="icon">
        <i class="fa fa-phone"></i>
      </div>
      <div class="text">  
        <p>(201) 953-3024</p>
      </div>
    </a>
  </div>
  <div class="contact email">
    <a href="mailto:&#067;&#104;&#114;&#105;&#115;&#116;&#105;&#097;&#110;&#076;&#067;&#108;&#105;&#102;&#102;&#111;&#114;&#100;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
      <div class="icon">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="text">    
        <p>ChristianLClifford<e>(Gmail)</e></p>
      </div>
    </a>
  </div>
  <div class="secondary-contact"> 
    <div class=" small contact"><i class="fa fa-twitter"></i></div>
    <div class=" small contact"><i class="fa fa-google-plus"></i></div>
    <div class=" small contact"><i class="fa fa-facebook"></i></div>
  </div>

</article>