<div class="intro" id="home">
  <div class="personal-info">
    <div class="name"><h1>Christian Clifford</h1></div>
    <div class="title-wrapper">
      <div class="title">
        <h2>Web Developer | Full Stack</h2>
      </div>
    </div>
  </div>
</div>
<div id="about-me" class="about-me">
  <div class="header"><h1>About Me</h1></div>
    <h2>Where I'm From</h2>
    <p>
      I was born in northern New Jersey in 1989. My name is Christian Clifford. Those are the basics. Cool? Cool...
    </p>
    <p>
      I grew up loving technology. I was playing with my DOS box when I was 7, screwing with the internet since I was 10, and then falling in love with everything tech based since. My earliest memories are trying to learn Adobe Photoshop 5 and making my online presence known through GeoCities. So I've grown up with computers and technology, and now it's time for it to be a profession.
    </p>
    <hr>
    <h2>What I've Done</h2>
    <p>
      I went to college at the University of Delaware where I planned on studying Finance and do that for the rest of my life. It took me a year (and a lot of troubleshooting my friends computer issues) to realize that I had a feel for technology above the average person. I quickly picked up a second major in Management Information Systems, mainly because I thought that it could benefit my Finance degree. 
    </p>
    <p>
      I graduated with a dual-major in 2011.
    </p>
    <p>
      Then I went to work. I started as a data analyst for a pension fund, but quickly changed roles to a product manager for a financial software company. It was this role where I realized that the finance had fallen on the wayside, and now I really wanted to learn to make things for the technology I had an aptitude for.
    </p>
    <hr>
    <h2>What I Do</h2>
    <p>
      I've finished a Web Development Immersive course with General Assembly in December, 2014. I'm following that up by being a teacher's assistant for the next session while focusing on freelance full-stack development.
    </p>
    <p>
      My goal is to design experiences that continue the effective growth of the net as a communicative medium. I want to create responsive, engrossing projects that solve problems and inspire creation the same way I was inspired to create with my first machine.
    </p>
    <hr>
    <p>
      Think I can help you? Contact me:
    </p>
  </div>
<div class="my-work">

</div>