<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CDotDot</title>

  <link rel="stylesheet" href="/styles/normalize.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/scripts/lib/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/scripts/lib/path.min.js"></script>
</head>
<body>
  <%= erb :'partials/_navigation' %>
  <div class="container">  
    <%= yield %>
  </div>

  <script type="text/javascript" src="/scripts/scripts.js"></script>
</body>
</html>