body {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  max-width: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif; }

h2 {
  margin: 5px 0px; }

hr {
  padding: 0;
  border: none;
  border-top: medium double #2c697c;
  color: #333;
  text-align: center; }

hr:after {
  color: #2c697c;
  content: "ll";
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 1em;
  padding: 0 0.25em;
  background: white; }

ul {
  margin: 0;
  padding: 0; }

nav {
  z-index: 1000;
  position: fixed;
  left: calc(100% - 48px);
  width: 100%;
  top: 0;
  height: 48px;
  transition: left .5s; }
  nav .links {
    width: calc(100% - 48px);
    margin-right: -48px;
    float: left;
    overflow: hidden; }
  nav ul {
    position: relative;
    background: #2c697c;
    list-style: none;
    z-index: 1; }
  nav a {
    color: white;
    text-decoration: none; }
  nav li.home {
    text-align: center;
    font-style: italic; }
  nav li.active {
    background-color: #3084a3;
    transition: background-color .4s; }
  nav li {
    border-bottom: 1px solid;
    padding: 15px 20px;
    font-weight: bold;
    transition: background-color .4s; }
  nav i {
    margin: 0 10px; }

nav ul::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

#mob-nav {
  text-align: center;
  cursor: pointer;
  float: left;
  width: 48px;
  min-height: 48px;
  z-index: 1000; }
  #mob-nav i {
    font-size: 2em;
    text-align: center;
    line-height: 48px;
    padding: 3px; }

.show {
  left: 0; }

article h2:first-of-type {
  padding-top: 75px; }

.intro {
  background: white;
  min-height: 100%;
  overflow: hidden; }
  .intro .personal-info {
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(100% - 48px);
    min-height: 50%;
    z-index: 1; }
    .intro .personal-info .name h1 {
      margin: 0; }
    .intro .personal-info .title-wrapper {
      color: white;
      background-color: #2c697c;
      width: 100%;
      height: 500px; }
      .intro .personal-info .title-wrapper .title {
        padding-left: 5px; }
      .intro .personal-info .title-wrapper h2 {
        margin: 0;
        padding: 5px 0px 0px;
        border-bottom: 3px solid #3084a3; }

.intro::after {
  content: '';
  background-image: url("/images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  z-index: 0; }

.type {
  width: 100%;
  max-width: 320px;
  padding: 25% 0;
  max-height: 50%; }

.header {
  position: absolute;
  left: 0;
  background-color: white;
  border-bottom: 5px solid #2c697c;
  min-height: 2.5em;
  line-height: 3em;
  box-shadow: 0px 0px 10px #666;
  width: 100%;
  z-index: 1; }
  .header h1 {
    color: #2c697c;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    left: 0;
    transition: left .5s; }

.header .menu-open {
  left: -100%; }

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; }

.about-me {
  position: relative;
  padding: 0px 5px 5px;
  color: #666;
  background-color: white;
  z-index: 2; }
  .about-me header {
    z-index: 2; }

.my-work .header {
  z-index: 3; }

.profile-wrapper {
  text-align: center; }

.profiles {
  display: inline-block; }
  .profiles ul {
    list-style: none; }

.profile {
  float: left;
  text-align: center;
  margin: 0 20px; }

.skill {
  width: 100%;
  height: 65px; }

.badge {
  float: left;
  width: 50px;
  height: 65px;
  overflow: hidden;
  position: relative; }

.html5-logo img {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 150px; }

.css3-logo img {
  position: absolute;
  left: -100px;
  top: -20px;
  width: 150px; }

.js-logo img {
  position: absolute;
  left: -50px;
  top: -2px;
  width: 150px; }

.ruby-logo img {
  position: absolute;
  width: 45px;
  left: 2.5px;
  top: 12px; }

.rwd-logo img {
  position: absolute;
  width: 45px;
  left: 5px;
  top: 14px; }

.level {
  float: left;
  height: 45px;
  margin: 13px 5px 0px -50px;
  text-align: right;
  line-height: 45px;
  color: white;
  padding-right: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 2px;
  transition: width .75s;
  -webkit-transform: translateZ(-1); }

.html5 {
  width: calc(100% - 15px);
  background: #DD3200; }

.css3 {
  width: calc(95% - 15px);
  background: #31AADD; }

.js {
  width: calc(85% - 15px);
  background: #F0BE26; }

.ruby {
  width: calc(87% - 15px);
  background: #BB180E; }

.rwd {
  width: calc(80% - 15px);
  background: #666; }

.inactive {
  width: 0;
  margin-left: -10px; }

.contact-me .header {
  z-index: 4; }

.contact {
  width: 90%;
  height: 65px;
  margin: auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  border: 2px solid #3084a3;
  margin-bottom: 10px;
  box-shadow: 1px 3px 4px #2c697c; }
  .contact i {
    font-size: 45px;
    padding: 10px;
    width: 45px;
    position: absolute;
    left: 0;
    color: white;
    background-color: #3084a3; }
  .contact .text {
    width: calc(100% - 65px);
    float: right;
    color: #2c697c; }
  .contact p {
    padding: 0;
    margin: 0;
    line-height: 65px; }

.secondary-contact {
  width: 90%;
  margin: auto; }
  .secondary-contact .small {
    width: 65px;
    float: left; }

.small.contact:nth-child(2) {
  margin: 0px calc(50% - 103.5px); }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }
